{% extends 'layout.html.twig' %}

{% block title %}Sortir.com - Mon profil{% endblock %}

{% block body %}
    <h1>Mon Profil</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Image de profil</th>
            <td>{{ participant.imageProfil }}</td>
        </tr>
            <tr>
                <th>Nom</th>
                <td>{{ participant.nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ participant.prenom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ participant.telephone }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ participant.mail }}</td>
            </tr>
            <tr>
                <th>Campus</th>
                <td>{{ participant.campus }}</td>
            </tr>
        </tbody>
    </table>

{#    <a href="{{ path('participant_index') }}">back to list</a>#}

    <a href="{{ path('participant_edit', {'idParticipant': participant.idParticipant}) }}" class="btn btn-success">Modifier mon profil</a>

{#    {{ include('participant/_delete_form.html.twig') }}#}
{% endblock %}
