{% extends 'layoutAdmin.html.twig' %}

{% block title %}Participant{% endblock %}

{% block body %}
    <h1>Mon Profil</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ participant.nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ participant.prenom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ participant.telephone }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ participant.mail }}</td>
            </tr>
        </tbody>
    </table>

<div>
    <a class="btn btn-info" href="{{ path('participant_desactiver_admin', {'idParticipant': participant.idParticipant }) }}">Activer/Désactiver Compte </a>


    {{ include('Admin/_delete_form.html.twig') }}

    <a class="btn btn-light" href="{{ path('admin_listing') }}">Retour à la liste</a>
</div>



{% endblock %}
