{% extends 'layout.html.twig' %}

{% block title %}New Sortie{% endblock %}

{% block body %}
    <h1 class="text-center">Créer une sortie</h1>

    <div class="container">
        <div class="row">
            <div class="col">
                {{ form_row(form.name) }}
                {{ form_row(form.dateHeureDebut) }}
                {{ form_row(form.dateLimiteInscription) }}
                {{ form_row(form.nbInscriptionMax) }}
                {{ form_row(form.duree) }}
                {{ form_row(form.infosSortie) }}
            </div>


            <div class="col">

                {{ form_row(form.campus) }}

                {{ form_row(form.ville) }}


                {{ form_row(form.lieu) }}

                {{ form_row(form.rue) }}

                {{ form_row(form.latitude) }}

                {{ form_row(form.longitude) }}
            </div>
        </div>
    </div>

    <div class="text-center">

        <button type="submit">Enregistrer</button>

        <button type="submit">Publier la sortie</button>

        <button type="submit">Annuler</button>

    </div>
    {# <a href="{{ path('sortie_index') }}">back to list</a> #}

{% endblock %}
{% block script %}
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}
