{% extends 'layout.html.twig' %}

{% block title %}Sortie "{{ sortie.name }}" - Sortir.com{% endblock %}

{% block body %}

    <h1>Sortie "{{ sortie.name }}"</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ sortie.name }}</td>
            </tr>
            <tr>
                <th>Date et heure de début</th>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Durée</th>
                <td>{{ sortie.duree ? sortie.duree|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date Limite d'inscription</th>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre d'inscriptions maximum</th>
                <td>{{ sortie.nbInscriptionMax }}</td>
            </tr>
            <tr>
                <th>Infos Sortie</th>
                <td>{{ sortie.infosSortie }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ sortie.lieu }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ sortie.etat }}</td>
            </tr>
        </tbody>
    </table>
    {% if inscrit == true %}
        <a class="btn btn-success" data-toggle="modal" data-target="#baseModal" href="#">Se désinscrire</a>
        <div class="modal" id="baseModal" style="width: 600px;position: absolute;top: 32%; left: 31%;">
            <form action="{{ path('sortie_desinscrire', {'idSortie': sortie.idSortie}) }}" tabindex="-1">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Êtes-vous sûr(e) de vouloir vous désinscrire ?!</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body form-inline" style="width: 30%;margin: 0 auto;">
                        <input type="submit" value="Se désinscrire">
                    </div>
                </div>
            </form>
        </div>
    {% elseif inscrit == false %}

        <a class="btn btn-success" href="{{ path('sortie_inscrire', {'idSortie': sortie.idSortie}) }}">S'inscrire</a>
        {% if complet | default(false) == true %}
            <strong>Limite d'inscris déjà atteinte</strong>
        {% endif %}
        {% if dateLimite | default(false) == true %}
            <strong>La date Limite d'inscription est atteinte</strong>
        {% endif %}

    {% endif %}

    <br>
    <a class="btn btn-light" href="{{ path('sortie_index') }}">Retour à la liste des sorties</a>
    <a class="btn btn-light" href="{{ path('sortie_show_my_sorties') }}">Retour à la liste de mes sorties</a>




    {#{{ include('sortie/_delete_form.html.twig') }}#}
{% endblock %}
