{% extends 'layout.html.twig' %}

{% block title %}Ville index{% endblock %}

{% block body %}
    <h1 class="text-center">Gérer les villes</h1>







    <table class="table">
        <thead>
            <tr>
                <th>Ville</th>
                <th>Code postal</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
        {% for ville in villes %}
            <tr>
                <td>{{ ville.nomVille }}</td>
                <td>{{ ville.codePostal }}</td>
                <td>
                    <a href="{{ path('ville_edit', {'id': ville.id}) }}">Modifier</a>
                    <a href="{{ path('ville_delete', {'id': ville.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ville_new') }}">Create new</a>
{% endblock %}
